<%- include("header") -%>
<div class="about">
  <h2>About</h2>
  <p>This is a To-Do List which has two different lists.</p>
  <p>One for a Daily To-Do list.</p>
  <p>One for the Work List.</p>
</div>
<%- include("footer") -%>
